@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                
               
            </hgroup>

            <h1>¿Me Has Visto?</h1>
            <p>
                ¿Me has visto? es una aplicacion web, en la cual puedes postear a tu mascota perdida.
                con este medio podras encontrarla de una manera mas facil.

                
                
               
                
            </p>
        </div>
    </section>
}
<h3>En esta pagina podras:</h3>
<ol class="round">
    <li class="one">
        <h5>Encontrar a tu mascota perdida</h5>
        
        <a href="~/Views/Home/Index.cshtml">Learn more…</a>
    </li>

    <li class="two">
        <h5>Reportar una mascota como desaparecida</h5>
        
        <a href="~/Views/Home/Contact.cshtml">Learn more…</a>
    </li>
</ol>
